<!DOCTYPE html>
<html lang="en" th:replace="base::layout('Update todos',~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <h3 class="text-center">Edit todo</h3>
        <form th:action="@{/process-update}" method="post" th:object="${todo}">
            <div class="mb-3">
                <input type="number" th:value="${todo.id}" name="id" hidden="hidden" class="form-control" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea rows="4"
                      th:text="${todo.description}" class="form-control"
                      th:classappend="${#fields?.hasErrors('description')} ? 'is-invalid' : ''"
                      name="description" id="description"></textarea>
                <div id="validationServer03Feedback" class="invalid-feedback"
                     th:if="${#fields?.hasErrors('description')}"
                     th:errors="*{description}">
                </div>
            </div>

            <div class="d-flex">
                <div class="mb-3 form-check me-5">
                    <input type="checkbox" class="form-check-input" name="isStarred" id="starred" th:checked="${todo.isStarred}">
                    <label class="form-check-label" for="starred">Starred</label>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" name="isCompleted" id="completed" th:checked="${todo.isCompleted}">
                    <label class="form-check-label" for="completed">Completed</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </section>
</body>
</html>